.MovieListStyle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

@media (max-width: 768px) {
    .MovieListStyle {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
}

@media (max-width: 480px) {
    .MovieListStyle {
        grid-template-columns: repeat(1, minmax(250px, 1fr));
    }
}

.movieLink {
    text-decoration: none;
}